@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(37, 99, 235, 0.15), transparent 40%),
    #020617;
  color: white;
  font-family: "Inter", sans-serif;
}

::selection {
  background: #2563eb;
}
